@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto+Serif:ital,wght@0,400;1,300&family=Rubik+Iso&display=swap');


body {
  margin: 0;
  font-family: 'Rubik Iso', 'Great Vibes', 'Roboto Serif,' ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: #091E27;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
